{% extends 'base.html' %}
{% load roles %}
{% load static %}

{% block contenido %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Listado de citas</h2>
              {% if error is not None %}
                  <div class="alert alert-danger" role="alert">
                  {{ error }}
                  </div>
              {% endif %}
              <div class="row my-4">
                <div class="col-12 mb-3 d-flex justify-content-end">
                {% if request.user|has_group:"Secretaria,Recepcionista,Administrador,Medico" %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Agregar +</button>
                {% endif %}
                </div>
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Paciente</th>
                            <th>Especialidad</th>
                            <th>Médico</th>
                            <th>Motivo</th>
                            <th>Servicio</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Duración</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for cita in citas %}
                          <tr>
                            <td>{{ cita.id }}</td>
                            <td>{{ cita.paciente.usuario.user.first_name }} {{ cita.paciente.usuario.user.last_name }}</td>
                            <td>{{ cita.especialidad.nombre }}</td>
                            <td>{{ cita.medico.usuario.user.first_name }} {{ cita.medico.usuario.user.last_name }}</td>
                            <td>{{ cita.motivo }}</td>
                            <td>{{ cita.servicio.nombre }}</td>
                            <td>{{ cita.fecha }}</td>
                            <td>{{ cita.hora }}</td>
                            <td>{{ cita.duracion }}</td>

                            <td>
                              {% if request.user|has_group:"Secretaria,Recepcionista,Administrador,Medico" %}                           
                                <a href="{% url 'editar_cita' cita.id %}" class="btn btn-secondary"><span class="fe fe-edit fe-14 "></span></a>
                              
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ cita.id }}">
                                  <span class="fe fe-trash fe-14 "></span>
                                </button>
                              {% endif %}

                              <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ cita.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ cita.id }}" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <form method="post" action="{% url 'eliminar_cita' cita.id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                          <h5 class="modal-title fs-5" id="exampleModalLabel {{ cita.id }}">Confirmación de eliminación</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          ¿Estas seguro de eliminar la cita de {{ cita.paciente.usuario.user.first_name }} {{ cita.paciente.usuario.user.last_name }}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'tabla_citas' %}" class="btn btn-primary"data-bs-dismiss="modal">Cancelar</a>
                                          <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>-->
                                          <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </div>
                                      </form>   
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                          {% empty %}
                          <tr><td colspan="9">No hay citas registradas</td></tr>
                          {% endfor %}
                        </tbody>
                      </table>                     
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

      </main> <!-- main -->
      <!-- new event modal -->
      <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="varyModalLabel">Crear cita</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form method="post" action="{% url 'registrar_cita' %}">
                {% csrf_token %}
                {% if error is not None %}
                    <div class="alert alert-danger" role="alert">
                    {{ error }}
                    </div>
                {% endif %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPaciente">Paciente</label>
                    <select id="inputPaciente" class="form-control select2" name="txtPaciente">
                            <option value="">Seleccionar</option>
                        {% for paciente in pacientes %}
                            <option value="{{ paciente.id }}">{{ paciente.usuario.user.first_name }} {{ paciente.usuario.user.last_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEspecialidad">Especialidad</label>
                    <select id="inputEspecialidad" class="form-control select2" name="txtEspecialidad">
                            <option value="">Seleccionar</option>
                        {% for especialidad in especialidades %}
                            <option value="{{ especialidad.id }}">{{ especialidad.nombre }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputMedico">Médico</label>
                    <select id="inputMedico" class="form-control select2" name="txtMedico">
                            <option value="">Seleccionar</option>
                        {% for medico in medicos %}
                            <option value="{{ medico.id }}">{{ medico.usuario.user.first_name }} {{ medico.usuario.user.last_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputMotivo">Motivo</label>
                    <select id="inputMotivo" class="form-control select2" name="txtMotivo" required>
                      <option selected>Seleccionar</option>
                      <option>Sesión de tratamiento</option>
                      <option>Consulta</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputServicio">Servicio</label required>
                    <select id="inputServicio" class="form-control select2" name="txtServicio">
                            <option value="">Seleccionar</option>
                        {% for servicio in servicios %}
                            <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="date-input1">Fecha</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                      </div>
                      <input type="text" class="form-control drgpicker" id="drgpicker-start" name="txtFecha">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="startDate">Hora</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="button-addon-time"><span class="fe fe-clock fe-16"></span></div>
                      </div>
                      <input type="text" class="form-control time-input" id="start-time" name="txtHora">
                    </div>
                  </div>
                  <!--<div class="form-group col-md-6">
                    <label for="eventType">Frecuencia</label>
                    <select id="eventFrecuencia" class="form-control select2">
                      <option value="Luneas a sabado">Luneas a sabado</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="date-input1">Válido hasta</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                      </div>
                      <input type="text" class="form-control drgpicker" id="drgpicker-start" value="08/24/2020">
                    </div>
                  </div> -->
                  <div class="form-group col-md-6">
                    <label for="eventType">Duración</label>
                    <select id="eventDuracion" class="form-control select2" name="txtDuracion">
                      <option>Seleccionar</option>
                      <option value="30 minutos">30 minutos</option>
                      <option value="45 minutos">45 minutos</option>
                    </select>
                  </div>
              
                </div> 
                <div class="modal-footer d-flex justify-content-between">
                  <!--<div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="RepeatSwitch" checked>
                    <label class="custom-control-label" for="RepeatSwitch">Activo</label>
                  </div> -->
                  <div>
                    <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                    <a href="{% url 'tabla_citas' %}" class="btn btn-danger">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> <!-- new event modal -->

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <script>
      const myModalEl = document.getElementById('myModal')
      myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
      })
    </script>

{% endblock %}