{% extends 'base.html' %}
{% load roles %}
{% load static %}

{% block contenido %}

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Listado de pagos</h2>
              {% if error is not None %}
                  <div class="alert alert-danger" role="alert">
                  {{ error }}
                  </div>
              {% endif %}
              <div class="row my-4">
                <div class="col-12 mb-3 d-flex justify-content-end">
                {% if request.user|has_group:"Recepcionista,Administrador" %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Agregar +</button>
                {% endif %}
                </div>
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Fecha nac</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Tipo sangre</th>
                            <th>Tipo doc</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>368</td>
                            <td>Imani Lara</td>
                            <td>(478) 446-9234</td>
                            <td>Asset Management</td>
                            <td>Borland</td>
                            <td>9022 Suspendisse Rd.</td>
                            <td>High Wycombe</td>
                            <td>Jun 8, 2019</td>
                            <td>
                              {% if request.user|has_group:"Recepcionista,Administrador" %}
                                <a href="{% url 'editar_pago' %}" class="btn btn-secondary"><span class="fe fe-edit fe-14 "></span></a>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                  <span class="fe fe-trash fe-14 "></span>
                                </button>
                              {% endif %}
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación de eliminación</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      ¿Estas seguro de eliminar este registro?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                      <button type="button" class="btn btn-danger">Eliminar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </td>
                          </tr>
                        </tbody>
                      </table>                     
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
      <!-- new event modal -->
      <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="varyModalLabel">Agregar pago</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPaciente">Paciente</label>
                    <select id="inputPaciente" class="form-control">
                      <option selected>Seleccionar paciente</option>
                      <option>Emily Ochoa</option>
                      <option>Fabian Hernandez</option>
                      <option>Melissa Ambuludi</option>
                      <option>Anais Granda</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputFch">Fecha</label>
                    <input type="date" class="form-control" id="inputFchN" placeholder="Fecha">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputServicio">Servicio</label>
                    <select id="inputServicio" class="form-control">
                      <option selected>Seleccionar servicio</option>
                      <option>Rehabilitación</option>
                      <option>Consulta</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputMedio">Medio</label>
                    <select id="inputMedio" class="form-control">
                      <option selected>Seleccionar medio</option>
                      <option>Efectivo</option>
                      <option>Tranferencia</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputMontoT">Monto total</label>
                    <input type="number" class="form-control" id="inputMontoT" placeholder="Monto total">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputMontoP">Monto pendiente</label>
                    <input type="number" class="form-control" id="inputMontoP" placeholder="Monto pendiente">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEstado">Estado</label>
                    <select id="inputEstado" class="form-control">
                      <option selected>Seleccionar estado</option>
                      <option>Pago parcial</option>
                      <option>otro</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer d-flex justify-content-between">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="RepeatSwitch" checked>
                <label class="custom-control-label" for="RepeatSwitch">Activo</label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                <button type="submit" class="btn btn-danger">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- new event modal -->
      
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
   
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>
{% endblock %}