{% extends 'base.html' %}
{% load roles %}
{% load static %}

{% block contenido %}

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Listado de pagos</h2>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">

                        <!--tabla encabezado agregar buscador accion-->
                      <div class="toolbar row mb-3">
                        <div class="col">
                          <form class="form-inline">
                            <div class="form-row">
                              <div class="form-group col-auto">
                                <label for="search" class="sr-only">Buscar</label>
                                <input type="text" class="form-control" id="search" value="" placeholder="Buscar">
                              </div>
                              <div class="form-group col-auto ml-3">
                                <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref">Estado</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                  <option selected>Elegir...</option>
                                  <option value="1">Processing</option>
                                  <option value="2">Success</option>
                                  <option value="3">Pending</option>
                                  <option value="3">Hold</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col ml-auto">
                          <div class="dropdown float-right">
                     
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Agregar +</button>
                      
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Acción </button>
                            <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                              <a class="dropdown-item" href="#">Exportar</a>
                              <a class="dropdown-item" href="#">Eliminar</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                          <!-- new event modal -->
                          <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="varyModalLabel">Generar reporte</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body p-4">
                                  <form>
                                    <div class="form-row">
                                      <div class="form-group col-md-4">
                                        <label for="inputTipo">Tipo</label>
                                        <select id="inputTipo" class="form-control">
                                          <option selected>Seleccionar tipo</option>
                                          <option>Servicios</option>
                                          <option>Pacientes</option>
                                          <option>Médicos</option>
                                          <option>Especialidades</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="inputFchI">Fecha inicio</label>
                                        <input type="date" class="form-control" id="inputFchI" placeholder="Fecha">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="inputFchF">Fecha fin</label>
                                        <input type="date" class="form-control" id="inputFchF" placeholder="Fecha">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputFiltro">Filtros adicionales</label>
                                        <select id="inputFiltro" class="form-control">
                                          <option selected>Seleccionar filtro</option>
                                          <option>-</option>
                                          <option>-</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputFormato">Formato</label>
                                        <select id="inputFormato" class="form-control">
                                          <option selected>Seleccionar formato</option>
                                          <option>PDF</option>
                                          <option>-</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputOpcAdd">Opciones adicionales</label>
                                        <select id="inputOpcAdd" class="form-control">
                                          <option selected>Seleccionar opciones</option>
                                          <option>Ordenar por</option>
                                          <option>otro</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputOrdenarPor">Ordenar por</label>
                                        <select id="inputOrdenarPor" class="form-control">
                                          <option selected>Seleccionar orden</option>
                                          <option>Fecha</option>
                                          <option>otro</option>
                                        </select>
                                      </div>
                                    </div>
                                  </form>
                                </div>

                                <div class="modal-footer d-flex justify-content-between">
                                  <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="RepeatSwitch" checked>
                                    <label class="custom-control-label" for="RepeatSwitch">Activo</label>
                                  </div>
                                  <div>
                                    <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                                    <button type="submit" class="btn btn-danger">Cancelar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div> <!-- new event modal -->
                        </div>
                      </div>


                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Fecha nac</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Tipo sangre</th>
                            <th>Tipo doc</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>368</td>
                            <td>Imani Lara</td>
                            <td>(478) 446-9234</td>
                            <td>Asset Management</td>
                            <td>Borland</td>
                            <td>9022 Suspendisse Rd.</td>
                            <td>High Wycombe</td>
                            <td>Jun 8, 2019</td>
                            <td>
                               <a href="{% url 'editar_pago' %}" class="btn btn-secondary"><span class="fe fe-edit fe-14 "></span></a>
                              
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                <span class="fe fe-trash fe-14 "></span>
                              </button>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación de eliminación</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      ¿Estas seguro de eliminar este registro?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                      <button type="button" class="btn btn-danger">Eliminar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </td>
                          </tr>
                        </tbody>
                      </table>                     
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
      
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
   
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>
{% endblock %}