name: CI (PR) - Unit, Integrations, Performace and Stress

on:
  pull_request:
    branches: [developer]

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install dependencies
        run: |
          pip install -r requirements.txt;
        
      - name: Django check
        run: |
          python -V
          python -c "import django, sys; print(django.get_version())"
          python manage.py check
      
      - name: Run unit, integration, performance and stress tests
        env:
          DJANGO_SETTINGS_MODULE: centromedico.settings
        run: |
          pytest -k "not e2e" -q